.container-error{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-error img {
    max-width: 30rem;
    margin: 2.4rem 0;
    animation: shake 2s ;
}

/* animation shake img*/

@keyframes shake {
    10%, 90%{
        transform: translate3d(-1px, 0, 0)
    }

    20%, 80%{
        transform: translate3d(2px, 0, 0)
    }

    30%, 50%, 70%{
        transform: translate3d(-4px, 0, 0)
    }

    40%, 60%{
        transform: translate3d(4px, 0, 0)
    }
}


.container-error h1 {
    color: #fff;
    font-size: 3.2rem;
}
.container-error a {
    color:  #132742;
    background-color: #fff;
    text-decoration: none;
    padding: 1.2rem 1.8rem;
    border-radius: 0.4rem;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1.4rem 0;

}