.menu {
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu a {
    text-decoration: none;
    font-size: 1.5rem;
}

.social{
    margin-right: 1.4rem;
    display: flex;
    align-items: center;
}

.menu-item{
    color: #000;
    background-color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 0.4rem;
    margin-right: 1.4rem;
}